.accordion {
  border: solid var(--color-foreground-4);
  border-width: 0 0 2px;
}

.accordion + .accordion {
/*  border-top-width: 0;*/
}

.accordion summary {
  color: var(--color-foreground);
  padding: 1.125rem .125rem;
  display: flex;
  align-items: center;
  line-height: 1}

.accordion .summary__title {
  display: flex;
  flex: 1 1 0%;
  align-items: center;
}

.accordion [open] summary .icon-minus,
.accordion summary .icon-plus {
  visibility: visible;
}

.accordion [open] summary .icon-plus,
.accordion summary .icon-minus {
  visibility: hidden;
}

.accordion__title {
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
  max-width: calc(100% - 6rem);
  overflow-wrap: break-word;
}

.accordion__content {
  margin-bottom: 1rem;
  overflow-wrap: break-word;
  padding-left: 1rem;
  padding-right: 1rem;
}

.accordion__content img {
  max-width: 100%;
}


.accordion .svg-wrapper {
  align-self: center;
  fill: rgb(var(--color-foreground));
  margin-right: 1rem;
  height: 20px;
  width: 20px;
  position: relative;
}
.svg-wrapper > svg {
  height: 100%;
  width: 100%;
  display: block !important;
}

.svg-wrapper > svg path {
  stroke: var(--color-foreground);
}

.accordion details[open] > summary .icon-caret {
  transform: rotate(180deg);
}

summary .icon-caret {
  position: absolute;
  height: 0.5rem;
  right: 1.5rem;
  top: calc(50% - 0.2rem);
}